<template name="DutiesScreen">
    <div class="duties-screen">
        <div class="btn-grouping">
            <a href="/"><img class="academic_btn" height="200px"></a>
			<a href="/"><img class="shopping_btn" height="200px"></a>
        	<a href="/"><img class="mail_btn" height="200px"></a>
		</div>
		<div class="btn-grouping">
            <a href="/"><img class="laundry_btn" height="200px"></a>
			<a href="/"><img class="transport_btn" height="200px"></a>
		</div>
        
    </div>
</template>