<template name="DutiesScreen">

<style type="text/css">
.shopping_btn {
        content: url('/shopping_duty_icon.png');
        margin-right: 25px;
        margin-left: 25px;
        margin-bottom: 30px;
}

.academic_btn {
        content: url('/academic_duty_icon.png');
        margin-right: 25px;
        margin-left: 25px;
        margin-bottom: 30px;
}

.laundry_btn {
        content: url('/laundry_duty_icon.png');
        margin-right: 25px;
        margin-left: 25px;
        margin-bottom: 30px;
}

.transport_btn {
        content: url('/transport_duty_icon.png');
        margin-right: 25px;
        margin-left: 25px;
        margin-bottom: 30px;
}

.mail_btn {
        content: url('/mail_duty_icon.png');
        margin-right: 25px;
        margin-left: 25px;
        margin-bottom: 30px;
}

.duties-screen {
    
   /* margin-top: 69px;*/
    margin-left: 200px;
    text-align: center;
}
.page-title {
        padding-top: 10px;
        text-align: center;
        padding-bottom: 20px;
        }
</style>

    <div class="duties-screen">
        <h2 class="page-title">Select a Duty to create</h2>
        <div class="btn-grouping">
            <a href="/employer/new_duty/new_academic_duty"><img class="academic_btn" height="200px"></a>
			<a href="/employer/new_duty/new_shopping_duty"><img class="shopping_btn" height="200px"></a>
        	<a href="/employer/new_duty/new_mailing_duty"><img class="mail_btn" height="200px"></a>
		</div>
		<div class="btn-grouping">
            <a href="/employer/new_duty/new_laundry_duty"><img class="laundry_btn" height="200px"></a>
			<a href="/employer/new_duty/new_transport_duty"><img class="transport_btn" height="200px"></a>
		</div>
        
    </div>
</template>