<template name="DutiesScreen">
    <div class="duties-screen">
        <div class="btn-grouping">
            <a href="/employer/new_duty/new_academic_duty"><img class="academic_btn" height="200px"></a>
			<a href="/employer/new_duty/new_shopping_duty"><img class="shopping_btn" height="200px"></a>
        	<a href="/employer/new_duty/new_mailing_duty"><img class="mail_btn" height="200px"></a>
		</div>
		<div class="btn-grouping">
            <a href="/employer/new_duty/new_laundry_duty"><img class="laundry_btn" height="200px"></a>
			<a href="/employer/new_duty/new_transport_duty"><img class="transport_btn" height="200px"></a>
		</div>
        
    </div>
</template>