<template name="EmployeeNav">
    <div class="app-nav">
        <ul>
            <li><a href="employee"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <li><a href="employee/new_duty"><i class="fa fa-spinner"></i> <span>Incomplete Duties</span></a></li>
            <li><a href="employee/active_duties"><i class="fa fa-check-square-o"></i> <span>Completed Duties</span></a></li>
            <li><a href="account_settings"><i class="fa fa-gear"></i> <span>Account Settings</span></a></li>
        </ul>
    </div>
</template>