<template name="insertAcademicDutiesForm">
	<div class="container" style="margin-left: 100px;">
		<div class="row">
			<div class="col-md-8">
  				{{> quickForm collection=academicDutyCollection id="insertAcademicDutyForm" type="method" meteormethod="insertAcademicDuty"}}
			</div>
		</div>
	</div>	
</template>

<template name="updateAcademicDutiesForm">
 	<div class="container" style="margin-left: 100px;">
 		<div class="row">
 			<div class="col-md-8">
 				{{> quickForm collection=academicDutyCollection id="updateAcademicDutiesForm" singleMethodArgument=true doc=this type="method-update" meteormethod="updateAcademicDuty"}}
 			</div>
 		</div>
 	</div>
</template>