<template name="insertLaundryDutiesForm">
	<div class="container" style="margin-left: 100px;">
		<div class="row">
			<div class="col-md-8">
  				{{> quickForm collection=laundryDutyCollection id="insertLaundryDutyForm" type="method" meteormethod="insertLaundryDuty"}}
			</div>
		</div>
	</div>
</template>

<template name="updateLaundryDutiesForm">
	<div class="container" style="margin-left: 100px;">
		<div class="row">
			<div class="col-md-8">
				{{> quickForm collection=laundryDutyCollection id="updateLaundryDutiesForm" singleMethodArgument=true doc=this type="method-update" meteormethod="updateLaundryDuty"}}
			</div>
		</div>
	</div>
</template>