<template name="insertShoppingDutiesForm">
	<div class="container" style="margin-left: 100px;">
		<div class="row">
			<div class="col-md-8">
				{{> quickForm collection=shoppingDutyCollection id="insertShoppingDutyForm" type="method" meteormethod="insertShoppingDuty"}}
			</div>
		</div>
	</div>
</template>

<template name="updateShoppingDutiesForm">
	<div class="container" style="margin-left: 100px;">
		<div class="row">
			<div class="col-md-8">
				{{> quickForm collection=shoppingDutyCollection id="updateShoppingDutiesForm" singleMethodArgument=true doc=this type="method-update" meteormethod="updateShoppingDuty"}}
			</div>
		</div>
	</div>
</template>