<template name="laborAcademicDutyInfo">
<div class="panel-heading" style="background-color:#CC0000; color:#fff;"> <i class="fa fa-lg fa-mailDuty" aria-hidden="true"></i>&nbsp;<b>Academic DUTY</b></div>
<div class="panel-body">
	<label class="small">Due Date: </label>
	<h4>{{formatDate dueDate}} </h4>
	<hr>

	<label class="small">Time of Class:</label>
	<h4>{{dateOfClass}}</h4>
	<hr>

	<label class="small">Room Location:</label>
	<h4>{{classRoomNumber}}</h4>
	<hr>

	<label class="small">Time Range Of Class:</label>
	<h4>{{timeRangeOfClass}}</h4>
	<hr>

</div>
</template>