<template name="MailDuty">

<div class="panel panel-default">
	<div class="panel-heading"> <b>MAIL DUTY</b></div>
	<div class="panel-body">
		<div>Pickup Location: {{pickUpLocation}}</div>
		<div>Pickup Time: {{pickUpTime}}</div>
		<div>Dropoff Location: {{dropOffLocation}}</div>
		<div>Delivery Type: {{deliveryType}}</div>
		<div>Price: {{price}}</div>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="btn-group">
				<a type="button" href="#" class="btn btn-primary"> Edit </a>
				<button class="btn btn-danger"> Delete</button>
			</div>
		</div>
	</div>
</div>

</template>



