<template name="MailDuty">
<div class="panel panel-default">
	<div class="panel-heading" style= "background-color:#CC0000; color:#fff;"><i class="fa fa-files-o" aria-hidden="true"></i>
<!-- 		<i class="fa fa-envelope-open" aria-hidden="true"></i> -->
		&nbsp;<b>MAIL DUTY</b></div>
	<div class="panel-body">
		<label class="small">Due Date: </label>
		<h4>{{formatDate dueDate}} </h4>
		<hr>
		<label class="small">Pickup Location: </label>
		<h4>{{pickUpLocation}} </h4>
		<hr>		
		<label class="small">Dropoff Location: </label>
		<h4>{{dropOffLocation}} </h4>
		<hr>
		<label class="small">Pickup Time: </label>
		<h4>{{pickUpTime}} </h4>
		<hr>
		<label class="small">Delivery Type: </label>
		<h4>{{deliveryType}} </h4>
		<hr>
		<label class="small">Price: </label>
		<h4>{{price}} </h4>
		<hr>
		
	</div>
	<div class="panel-footer">
			<div class="row">
				<div class="col-md-12">
					<div class="btn-group">
						<a type="button" href="{{pathFor 'mail_duty.edit' _id=this._id}}" class="btn btn-primary" id="mailDutyEditButton"> Edit </a>
						<button class="btn btn-default" id="mailDutyDeleteButton"> Delete</button>
					</div>
				</div>
			</div>
		</div>
	<!-- <div class="panel-footer">
		<div class="row">
			<div class="btn-group">
				<a type="button" href="{{pathFor 'mail_duty.edit' _id=this._id}}" class="btn btn-primary" id="mailDutyEditButton"> Edit </a>
				<button class="btn btn-danger" id="mailDutyDeleteButton"> Delete </button>
			</div>
		</div>
	</div>
 --></div>
</template>