<template name="ShoppingDuty">
	<div class="panel panel-default" >
		<div class="panel-heading" style="background-color:#CC0000; color:#fff;"> <i class="fa fa-lg fa-shopping-cart" aria-hidden="true"></i>&nbsp;<b>SHOPPING DUTY</b> - {{title}}</div>
		<div class="panel-body">
			<label class="small">Due Date: </label>
			<h4>{{formatDate dueDate}} </h4>
			<hr>
			<label class="small">Description:</label>
			<h4>{{description}}</h4>
			<hr>
			<label class="small">Items to buy:</label>
			<ul class="list-group">
				{{#each list}}
					{{> shoppingItem}}
				{{/each}}
			</ul>
			<hr>
			<label class="small">Spending Limit:</label>
			<h4>${{maxSpending}}</h4>
		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-md-12">
					<div class="btn-group">
						<a type="button" href="{{pathFor 'shopping_duty.edit' _id=_id}}" class="btn btn-default"> Edit </a>
						<button class="btn btn-default"> Delete</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="shoppingItem">
	<li class="list-group-item">{{description}}</li>
</template>