<template name="ShoppingDuty">
	<div class="panel panel-default">
		<div class="panel-heading"> Shopping Duty - {{title}}</div>
		<div class="panel-body">
			<div> {{description}}</div>
			<div> {{price}}</div>
		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="btn-group">
					<a type="button" href="{{pathFor 'shopping_duty.edit' _id=_id}}" class="btn btn-primary"> Edit </a>
					<button class="btn btn-danger"> Delete</button>
				</div>
			</div>
		</div>
	</div>
</template>