<template name="TransportDuty">
<div class="panel panel-default">
	<div class="panel-heading"> <b>TRANSPORT DUTY</b></div>
	<div class="panel-body">
		<div>Pickup Location: {{pickupLocation}}</div>
		<div>Pickup Time: {{pickupTime}}</div>
		<div>Dropoff Location: {{dropoffLocation}}</div>
		<div>Passenger Number: {{passengerNumber}}</div>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="btn-group">
				<a type="button" href="#" class="btn btn-primary"> Edit </a>
				<button class="btn btn-danger"> Delete</button>
			</div>
		</div>
	</div>
</div>
</template>